.project-box {
  img {
    height: 250px;
  }
}

img {
  object-fit: contain;
}

.show-box {
  margin: 10%;
  img {
    height: 400px;
  }
}

#map {
  height: 500px;
  width: 500px;
  z-index: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
