* {
  font-family: 'Oswald', sans-serif;
}

body {
  .home {
    background-size: 100%;
    background-image: url(https://ivhq.imgix.net/images/gallery/volunteer-in-new-zealand/overlooking-beach-in-new-zealand-ivhq.jpg?w=1200&q=85);
    opacity: 0.7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
    width: 1150px;
    h1 {
      color: white;
      font-family: 'Homemade Apple', cursive;
      opacity: 1;
      padding: 10px;
      text-align: center;
    }
    p {
      text-align: center;
      color: white;
      opacity: 1;
    }
    .text {
      padding: 10%;
    }
  }
  height: 1050px;
}

.home {
  h1 {
    font-size: 70px;
  }
  p {
    font-size: 25px;
    font-weight: lighter;
  }
}

nav {
  display: flex;
  justify-content:flex-end;
}

button {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  margin: 0 10px;
}

form {
  font-size: 18px;
  font-family: 'Fjalla One', sans-serif;
}

.volunteer {
  text-align: center;
}

.project-box {
  width: 350px;
  overflow-x: scroll;
  align-items: center;
  margin: 10px 0;
  .title {
    margin: 7px 0;
  }
  p {
    text-align: justify;
  }
  img {
    height: 150px;
    width: 340px;
  }
  .subtitle {
    margin: 10px 0;
  }
}

img {
  object-fit: cover;
}

.show-box {
  margin: 10%;
  img {
    height: 400px;
  }
}

#map {
  height: 350px;
  width: 100%;
  z-index: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.box-container {
  text-align: center;
}

%border {
  border: 1px #ccc solid;
  border-radius: 2px;
}

.message-container {
  .sidebar {
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
    padding: 10px;
    .media:hover {
      background-color: #fafafa;
    }
  }
  .messages-main {
    .conversation {
      padding: 10px;
    }
    .compose {
      flex-basis: 10%;
      padding: 10px;
    }
  }
}

.messages {
  text-align: center;
  margin-top: 7%;
}

.card {
  margin-top: 7%;
  // box-shadow: -13px 13px;
  border: 1px solid #333333;
  padding: 30px;
}

.show-box {
  img {
    height: 300px;
    width: 1000px;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  button {
    margin-top: 30px;
  }
}

.profile-card {
  height: 450px;
  overflow-x: scroll;
  img {
    height: 300px;
    width: 300px;
    // border: solid black 1px;
  }
  .card {
    margin-top: 0;
    box-shadow: 0 0;
    border: 0;
    padding: 0;
  }
}

.profile-box {
  h1 {
    margin: 15px 0;
  }
}

.profile-subtitle {
  text-align: center;
  margin-bottom: 3%;
  font-size: 40px;
}

.username {
  text-align: center;
  margin-top: 5%;
  font-size: 90px;
}
